HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### static file ###
!**/src/main/resources/static/file
!**/src/main/resources/static/images

### Properties 정보 ###
application-db.properties
application-dev.properties
application-prod.properties

### 서버 배포시 유의할 사항 ###
jongterest_memo.md가

### docker-compose.yml ###
docker-compose.yml

### Log 설정 ###
!**/src/main/resources/logback-dev.xml
!**/src/main/resources/logback-prod.xml
