<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template/scriptBase:: layout(~{::section},~{::link},~{::script})}">
<body>
<link/>
<section>
    <div>
        <div style="text-align: center; max-width: 500px;margin: 4rem auto;">
            <p th:text="${user?.createdAt}">
            </p>

            <img th:src="${#strings.isEmpty(user.profile?.profileImage?.storeFilePath)}?
            @{https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png}:
            @{/images/{filePath}(filePath=${user?.profile?.profileImage?.storeFilePath})} "
                 alt
                 style="height: 12rem; width: 12rem; border-radius : 20rem; margin-bottom: 2rem; object-fit:cover;">

<!--            <img th:src="@{/images/{filePath}(filePath=${user?.profile?.profileImage?.storeFilePath})}"-->
<!--                 alt-->
<!--                 style="height: 12rem; width: 12rem; border-radius : 20rem; margin-bottom: 2rem; object-fit:cover;">-->
            <h2 style="font-family: 'NanumSquareB';">
                <a class="material-icons"
                   style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                   th:href="@{/user/profile/update/{id}(id = ${session.loginUser?.userId})}"
                   th:if="${session.loginUser.userId ==user.userId} and ${user.profile.nickname!=null}">
                    edit
                </a>
            </h2>

            <h5 style="margin-bottom: 1rem;" th:text="${user?.profile?.message}">
                Default Message
            </h5>

            <a th:href="@{|/user/profile/create/${session.loginUser?.userId}?redirectURL=${#httpServletRequest.requestURI}|}"
               th:if="${session.loginUser.userId ==user.userId} and ${user.profile.nickname==null}">
                <h2 style="font-family: 'NanumSquareB';">
                    Create Profile
                </h2>
            </a>

            <h2 th:text="${user?.profile?.nickname}?:'닉네임 미설정'"></h2>

            <a class="material-icons"
               style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
               th:href="@{/user/update/{id}(id = ${session.loginUser?.userId})}"
               th:if="${session.loginUser.userId ==user.userId}">

                settings
            </a>
            <a class="material-icons"
               style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
               th:href="@{/user/delete/{id}(id = ${session.loginUser?.userId})}"
               th:if="${session.loginUser.userId ==user.userId}">
                cancel
            </a>
            <!--        {% endif %}-->
        </div>
        <div>
            <div th:replace="template/user/fragments/project_list.html :: project_list"></div>
        </div>
        <hr>
        <div>
            <div th:replace="template/user/fragments/subscription_project_list.html :: subscription_project_list"></div>
        </div>
    </div>

</section>
</body>
<!--<script defer th:src="@{/js/magicgridForProject.js}"></script>-->
<script defer th:src="@{/js/magicgridForSubscriptionProject.js}"></script>
</html>