<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{template/base:: layout(~{::section})}">
<body>
<section>
    <div>
        <div style="text-align: center; max-width: 500px;margin: 4rem auto;">
            <p th:text="${user?.joinedDate}">
            </p>

            <img th:src="@{/images/{filePath}(filePath=${user?.profile?.profileImage?.storeFilePath})}"
                 alt
                 style="height: 12rem; width: 12rem; border-radius : 20rem; margin-bottom: 2rem; object-fit:cover;">
            <h2 style="font-family: 'NanumSquareB';">
                <a class="material-icons"
                   style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                   th:href="@{/user/profile/update/{id}(id = ${session.loginUser?.userId})}"
                   th:if="${session.loginUser.userId ==user.userId} and ${session.loginUser.profile!=null}">
                        edit
                </a>
            </h2>

            <h5 style="margin-bottom: 1rem;" th:text="${session.loginUser?.profile?.message}">
                Default Message
            </h5>

            <a th:href="@{/user/profile/create/{id}(id = ${session.loginUser?.userId})}"
               th:if="${session.loginUser.userId ==user.userId} and ${session.loginUser.profile==null}">
                <h2 style="font-family: 'NanumSquareB';">
                    Create Profile
                </h2>
            </a>

            <h2 th:text="${user?.profile?.nickname}?:'닉네임 미설정'"></h2>

            <a class="material-icons"
               style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
               th:href="@{/user/update/{id}(id = ${session.loginUser?.userId})}"
               th:if="${session.loginUser.userId ==user.userId}">

                settings
            </a>
            <a class="material-icons"
               style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
               th:href="@{/user/delete/{id}(id = ${session.loginUser?.userId})}"
               th:if="${session.loginUser.userId ==user.userId}">
                cancel
            </a>
            <!--        {% endif %}-->
        </div>
        <div>
            <!--        {% include 'snippets/list_fragment.html' with article_list=object_list %}-->

        </div>
    </div>
</section>
</body>
</html>