<!--{% if article_list %}-->
<!--<div class="container">-->
<!--    {% for article in article_list %}-->
<!--    <a href="{% url 'articleapp:detail' pk=article.pk %}">-->
<!--        {% include 'snippets/card.html' with article=article %}-->
<!--    </a>-->
<!--    {% endfor %}-->
<!--</div>-->
<!--<script src="{% static 'js/magicgrid.js' %}"></script>-->
<!--{% else %}-->
<!--<div class="text-center">-->
<!--    <h1>No Articles YET!</h1>-->
<!--</div>-->
<!--{% endif %}-->

<!--{% include 'snippets/pagination.html' with page_obj=page_obj %}-->

<!--<div style="text-align : center;">-->
<!--    <a href ="{% url 'articleapp:create' %}" class ="btn btn-dark rounded-pill mt-3 mb-3 px-3">-->
<!--        Create Article-->
<!--    </a>-->
<!--</div>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template/scriptBase:: layout(~{::section},~{::style},~{::script})}">

<script defer th:src="@{/js/magicgrid.js}"></script>

<style></style>
<body>
<section>
    <div class="jongterest_article_container" th:if="${!#lists.isEmpty(articles)}">
        <!--        <div class="jongterest_item1">-->
        <!--            <img th:src="@{https://picsum.photos/200/300}" alt="">-->
        <!--        </div>-->
        <!--        <div class="jongterest_item2">-->
        <!--            <img th:src="@{https://picsum.photos/200/300}" alt="">-->
        <!--        </div>-->
        <th:block th:each="article : ${articles}" th:if="${!#lists.isEmpty(articles)}">
            <a th:href="@{/articles/detail/{articleId}(articleId=${article?.articleId})}" th:if="${article!=null}">
                <div th:if="${article!=null}">
                    <img th:src="@{/images/{filePath}(filePath=${article?.articleImage.storeFilePath})}"
                         th:if="${article!=null}"
                         alt="">
                </div>
            </a>

        </th:block>

    </div>

    <div class="text-center" th:if="${#lists.isEmpty(articles)}">
        <h1>No Articles YET!</h1>
    </div>

    <div style="text-align : center;">
        <a th:href="@{|/user/profile/create/${session.loginUser.userId}?redirectURL=${#httpServletRequest.requestURI}|}"
           class="btn btn-dark rounded-pill mt-3 mb-3 px-3"
           th:if="${session.loginUser !=null and session.loginUser.profile == null}"
        >
            Profile 생성
        </a>
        <a th:href="@{/articles/create}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3"
           th:if="${session.loginUser !=null and session.loginUser.profile != null}">
            Create Article
        </a>
    </div>
</section>
</body>
</html>
