<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{template/articleBase:: layout(~{::section},~{::style},~{::script})}">
<!--<script defer th:src="@{/js/updateComment.js}"></script>-->
<script></script>
<style></style>
<body>
<section>
    <div>
        <div style ="text-align: center; max-width: 700px;margin: 4rem auto;">
            <h1 th:text="${article?.title}">
                default title
            </h1>
            <a th:href="@{/user/detail/{userId}(userId=${article?.user.userId})}">
            <h5 th:text="${article?.user.profile.nickname}">
                {{ target_article.user.profile.nickname }}
            </h5>
            </a>
            <hr>
            <img style="width: 80%; border-radius: 1rem; margin: 2rem"
                 th:src="@{/images/{filePath}(filePath=${article?.articleImage.storeFilePath})}" alt="">
            <div class="text-start"  th:utext="${article?.content}">
                default content
            </div>

            <a th:href="@{/article/update/{articleId}(articleId=${article?.articleId})}"
               class=" btn btn-primary rounded-pill col-3"
               th:if="${session.loginUser.userId ==article?.user.userId}">
                Update
            </a>
            <a th:href="@{/article/delete/{articleId}(articleId=${article?.articleId})}"
               class="btn btn-danger rounded-pill col-3"
               th:if="${session.loginUser.userId ==article?.user.userId}">
                Delete
            </a>
            <hr>
            <th:block th:each="comment : ${article.comments}">
                <div th:replace="~{/template/comment/detail :: commentDetail(${article},${comment}) }"></div>
            </th:block>

            <div th:replace="~{/template/comment/create :: commentCreate(${article}, ${commentForm}) }"></div>
        </div>
    </div>

</section>
</body>
</html>



