<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template/scriptBase:: layout(~{::section},~{::style},~{::script})}">

<script defer th:src="@{/js/magicgrid.js}"></script>

<style></style>
<body>
<section>
    <div class="jongterest_article_container" th:if="${!#lists.isEmpty(articles)}">
        <th:block th:each="article : ${articles}" th:if="${!#lists.isEmpty(articles)}">
            <a th:href="@{/articles/detail/{articleId}(articleId=${article?.articleId})}" th:if="${article!=null}">
                <div th:if="${article!=null}">
                    <img th:src="@{/images/{filePath}(filePath=${article?.articleImage.storeFilePath})}"
                         th:if="${article!=null}"
                         alt="">
                </div>
            </a>

        </th:block>

    </div>

    <div class="text-center" th:if="${#lists.isEmpty(articles)}">
        <h1>No Articles YET!</h1>
    </div>

    <div style="text-align: center; margin: 1rem 0;">

        <a th:href="@{/subscription/list?page={data}(data=${pagination.previousPage})}"
           class="btn btn-secondary rounded-pill" th:if="${pagination.currentPage > 1}">
            [[${pagination.previousPage}]]
        </a>
        <a th:href="@{/subscription/list?page={data}(data=${pagination.currentPage})}"
           class="btn btn-secondary rounded-pill active">
            [[${pagination.currentPage}]]
        </a>
        <a th:href="@{/subscription/list?page={data}(data=${pagination.nextPage})}"
           class="btn btn-secondary rounded-pill"
            th:if="${#lists.size(articles) == 10}"
        >
            <!--           class="btn btn-secondary rounded-pill" th:if="${pagination.lastPage >= pagination.nextPage}">-->
            [[${pagination.nextPage}]]
        </a>
    </div>

    <div style="text-align : center;">
        <a th:href="@{|/user/profile/create/${session.loginUser.userId}?redirectURL=${#httpServletRequest.requestURI}|}"
           class="btn btn-dark rounded-pill mt-3 mb-3 px-3"
           th:if="${session.loginUser !=null and session.loginUser.profile == null}"
        >
            Profile 생성
        </a>
        <a th:href="@{|/articles/create?redirectURL=${#httpServletRequest.requestURI}|}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3"
           th:if="${session.loginUser !=null and session.loginUser.profile != null}">
            Create Article
        </a>
    </div>
</section>
</body>
</html>
