<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<section th:fragment="commentDetail(article,comment)">

    <div style="border: 1px solid; text-align:left; padding:4%; margin:1rem 0;border-radius:1rem;
                    border-color:#bbb;">
        <div>
            <a th:href="@{/user/detail/{userId}(userId=${comment.user.userId})}">
            <strong th:text="${comment?.user.profile == null}? '익명': ${comment?.user.profile.nickname}">
            </strong>
            </a>
            &nbsp&nbsp&nbsp
            [[ ${comment?.updatedAt} ]]
        </div>
        <form th:class="|collapse multi-collapse-${comment.commentId}|" th:id="deleteForm"
              th:action="@{/comments/update/{articleId}/{commentId}(articleId=${article.articleId}, commentId=${comment.commentId})}"
              method="post"
        >
            <textarea style="width:100%; resize:none;" id="comment_content" cols=60 rows=3 name="content">[[${comment?.content}]]</textarea>
            <div style="text-align:right;">
                <button class='btn btn-danger rounded-pill'th:text="|확인|"/>
                <a type="button" class='btn btn-primary rounded-pill' th:data-toggle="collapse" th:data-target="|.multi-collapse-${comment.commentId}|"
                   aria-expanded="false" th:aria-controls="|multi-collapse-${comment.commentId}|" th:text="|취소|">
                </a>
            </div>
        </form>

        <div style="margin: 1rem 0;" th:text="${comment?.content}" th:class="|collapse multi-collapse-${comment.commentId} show|">
            default content
        </div>

        <th:block th:if="${session.loginUser.userId ==article?.user.userId or session.loginUser.userId ==comment?.user.userId}">
            <div style="text-align:right;">

                <form
                      th:action="@{/comments/delete/{articleId}/{commentId}(articleId=${article.articleId}, commentId=${comment.commentId})}" method="post">
                    <a type="button" th:class='|btn btn-primary rounded-pill collapse multi-collapse-${comment.commentId} show|' th:data-toggle="collapse" th:data-target="|.multi-collapse-${comment.commentId}|"
                            aria-expanded="false" th:aria-controls="|multi-collapse-${comment.commentId}|" th:text="|수정|">
                    </a>
                        <button th:class='|btn btn-danger rounded-pill collapse multi-collapse-${comment.commentId} show|'th:text="|삭제|"/>
                </form>


            </div>
        </th:block>

    </div>
</section>

</body>
</html>